---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    date: "Actualmente...",
    title: "Freelancer",
    // company: "Twitch",
	description:
	  "Desarrollando proyectos frontend personalizados para diversos clientes, utilizando tecnologías modernas y mejores prácticas. Por ejemplo, en este momento estoy trabajando en la página del Centro Cultural de San Marcos (CCSM).",
    link: "https://unmsm-centro-cultural-website.vercel.app/",
  },
  {
    date: "Julio 2023",
    title: "Principal Frontend Developer",
    company: "Oficina General de Imagen Institucional (OGII) - UNMSM",
    description:
      "Responsable de los proyectos de las páginas web de las diferentes facultades de la UNMSM.",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
